html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    border: 1px solid white;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 32px 32px;
  }

  #gameContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  #game {
    margin-right: 20px;
    margin-left: 20px;
  }

  #nextPieceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 80px;
  }
  
  #nextPiece {
    width: 100px;
    height: 100px;
    margin-top: 65px;
  }

  .hold-text, .next-text {
    color: white;
    font-size: 20px;
    position: absolute;
  }
  .hold-text {
    margin-left: 24%;
  }

  .next-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
  }
  #score {
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
  }
  .col {
    align-items: center;
  }




/* Estilos para los controles móviles */
#controls {
    display: none;
}

@media only screen and (max-width: 600px) {
    #controls {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 10px;
        width: 100%;
    }

}
@media only screen and (max-width: 600px) {
  .pie, .next-text{
    width: 50%;
    font-size: 50%;
  }
  .score{
    font-size: 50%;
  }
  /* body{
    width: 50%;
  } */

  #game {
    width: 50%;
  }
  
}


#controls button {
    padding: 10px;
    font-size: 16px;
    flex: 1;
    margin: 0 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#controls button:active {
    background-color: #555;
}
/* Estilos para los controles móviles */