html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    border: 1px solid white;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 32px 32px;
  }

  #gameContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-right: 2%;
    margin-left: 2%;
  }

  #game {
    margin-right: 20px;
    margin-left: 20px;
  }

  #nextPieceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 80px;
  }
  
  #nextPiece {
    width: 100px;
    height: 100px;
    margin-top: 65px;
  }

  .hold-text, .next-text {
    color: white;
    font-size: 18px;
    position: absolute;
  }

  .next-text {
    text-align: center;
  }
  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 617px;
    width: 100%;
    transform: translate(0%, -50%);
  }
  .score {
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
      transform: translate(-50%, -50%);
  }
  /* Estilos para los controles móviles */
  #controls {
    display: none;
}
/* Teléfonos (por debajo de 600px de ancho) */
@media only screen and (max-width: 600px) {
  .pie, .next-text, .hold-text {
    width: 50%;
    font-size: 50%;
    margin-left: 15%;
  }
  .score-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    width: 100%;              
    height: auto;            
    position: relative;
    top: -95%;
    transform: translate(-180%, -50%);
  }
  .score {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);  
      width: max-content;      
      text-align: center;      
      background: rgba(0, 0, 0, 0.5);  
      padding: 0.5em 1em;       
      border-radius: 10px;    
    }
  #game {
    width: 60%;
    margin-right: -4%;
    margin-left: -5%;
  }
  #nextPieceContainer {
    margin-top: 32%;
  }
  .next-text {
    text-align: center;
    margin-left: 16%;
  }
  #nextPiece {
    margin-top: 20%;
  }
  .hold-text {
    margin-left: 10%;
  }
  #gameContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-right: 2%;
    margin-left: 2%;
    width: 20%;
  }
  #controls {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
  }
  #controls button {
    padding: 18px;
    font-size: 20px;
    flex: 1;
    margin: 0 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  #controls button:active {
    background-color: #555;
  }
  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
}

/* Tablets (601px a 900px de ancho) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .pie, .next-text, .hold-text {
    width: 75%;
    font-size: 75%;
    margin-left: 10%;
  }
  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: -92%;
    transform: translate(-176%, -50%);
  }
  .score {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      padding: 0.5em 1em;
      border-radius: 10px;
  }
  #game {
    width: 50%;
    margin-right: 0%;
    margin-left: 0%;
  }
  #gameContainer {
    align-items: flex-start;
    position: relative;
    margin-right: 0%;
    margin-left: 0%;
    width: 20%;
  }
  #nextPieceContainer {
    margin-top: 30%;
  }
  .next-text {
    text-align: center;
    margin-left: 7%;
    margin-top: 0%;
  }
  #nextPiece {
    margin-top: 30%;
  }
  .hold-text {
    margin-left: 50%;
  }
  #controls {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
  }
  #controls button {
    padding: 18px;
    font-size: 20px;
    flex: 1;
    margin: 0 5px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  #controls button:active {
    background-color: #555;
  }
  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
}


@media only screen and (min-width: 1200px) {
  .pie, .next-text, .hold-text {
    width: 75%;
    font-size: 100%;
    margin-left: 10%;
  }
  .score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    top: -8%;
    transform: translate(5%, -50%);
  }
  .score {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    text-align: center;
    font-size: 20px;
  }
  #game {
    width: 20%;
    margin-right: 0%;
    margin-left: 0%;
  }
  #gameContainer {
    align-items: flex-start;
    position: relative;
    margin-right: 0%;
    margin-left: 0%;
    width: 10%;
  }
  #nextPieceContainer {
    margin-top: 30%;
  }
  .next-text {
    text-align: center;
    margin-left: 7%;
    margin-top: 0%;
  }
  #nextPiece {
    margin-top: 30%;
  }
  .hold-text {
    margin-left: 50%;
  }
}